html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Pangolin", cursive;
  font-size: 15px;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.matched {
  filter: grayscale(100%);
  pointer-events: none;
}

.opacity {
  opacity: 0.5;
}

.disableClick {
  pointer-events: none;
}

.flipper {
  cursor: pointer;
}
.flipper:active {
  transition: transform 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.left-shadow:hover {
  box-shadow: -10px 10px 10px -5px gray;
}

.right-shadow:hover {
  box-shadow: 10px 10px 10px -5px gray;
}

.main-container {
  border: black solid 13px;
  border-radius: 22px;
  background-color: #f9e9f4;
  display: flex;
  flex-direction: column;
  margin: 10%;
  margin-top: 1%;
}

.home {
  flex-direction: column;
  padding: 10%;
  padding-top: 0;
  max-width: 100%;
}
.home .title {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.home h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #3fadd3;
  margin-bottom: 0;
}
.home p {
  margin: 0;
  text-align: center;
}
.home input {
  width: 100%;
  margin: 3%;
  font-family: "Pangolin", cursive;
  color: black;
}
.home input:focus {
  outline-color: hotpink;
}
.home .difficult-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .difficult-button p {
  text-align: center;
  margin-bottom: 1%;
}
.home .difficult-button button {
  font-family: "Pangolin", cursive;
  background-color: #fd9727;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 3%;
  text-transform: uppercase;
  cursor: pointer;
  width: 300px;
  margin: 1%;
}
.home .difficult-button button:focus {
  outline-color: hotpink;
}
.home .difficult-button button:hover {
  background-color: #f8a63a;
}

.name-error {
  background-color: #e8c4c4;
  color: #a74544;
  padding: 3%;
  width: 93%;
  margin-top: 4%;
  align-self: center;
  justify-content: center;
  border-radius: 3px;
}
.name-error span {
  font-weight: bold;
}

.board-cont {
  flex-direction: column;
  padding: 0 18%;
}
.board-cont h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #3fadd3;
  margin: 0;
}
.board-cont p {
  margin: 0;
  text-align: center;
}
.board-cont .hi {
  font-size: 18px;
}
.board-cont #tries-sel {
  color: #3fadd3;
}
.board-cont #dif-sel {
  text-transform: uppercase;
}
.board-cont .board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 1000px;
  margin: 1.5%;
}
.board-cont .tries {
  font-family: initial;
  font-weight: bold;
  text-align: center;
  background: white;
  border: solid 5px #3fadd3;
  border-radius: 7px;
  margin-bottom: 1%;
  padding: 1.5%;
}
.board-cont #tries {
  color: #fd9727;
}

.box {
  width: 23%;
  margin: 0 1%;
}
.box .front-img img, .box .back-img img {
  width: 100%;
  border: 1px solid #fd9727;
}

.win-lose {
  border: black solid 5px;
  border-radius: 10px;
  background-color: #f9e9f4;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  position: absolute;
}
.win-lose p {
  margin: 0;
}
.win-lose #playAgainBut {
  font-family: "Pangolin", cursive;
  background-color: #fd9727;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 3%;
  text-transform: uppercase;
  cursor: pointer;
  margin: 5%;
  width: 50%;
}
.win-lose #playAgainBut:focus {
  outline-color: hotpink;
}
.win-lose #playAgainBut:hover {
  background-color: #f8a63a;
}
.win-lose .player-info {
  text-align: center;
  overflow: hidden;
  padding: 0% 5%;
}
.win-lose .player-info div {
  border: 1px solid black;
  width: 100%;
}
.win-lose .player-info div p {
  padding: 0% 5%;
}

footer {
  background-color: #f9e9f4;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .main-container {
    width: auto;
  }

  .home .difficult-button button {
    width: 100%;
  }

  .board-cont {
    padding: 0;
  }
  .board-cont .board {
    justify-content: center;
  }
  .board-cont .board .box {
    width: 25%;
  }
}

/*# sourceMappingURL=styles.css.map */
